.customToast {
	display: flex;
	background-color: #fff;
	color: #333;
	padding-left: 10px;
	position: relative;
}

.content {
	flex-grow: 1;
}

.customToast strong {
	display: block;
	margin-bottom: 5px;
	font-size: 1.2em;
}

.customToast p {
	margin: 0;
	font-size: 0.9em;
	color: #666;
}
